.contact{
    height: auto;
    width: 600px;
    border: 10px solid #094470;
    background-color: white;
    
  }

  .contacticon{
    display: flex;
    flex-direction: row;
   
  }

  .phonenumber{
    margin-left: 30px;
    font-size: 17px;
  }

  .fa{
    margin-left: 50px;
  }

  .header3{
    margin-left: 108px;
  }

  .information{
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }

  