.education {
  height: auto;
  width: 650px;
  border: 10px solid #094470;
  background-color: white; 
  margin-top: 130px;
}

@media only screen and (max-width: 600px) {
  .education {
    width:300px;
    margin-top:10px;
    margin-left: 2px;
    padding-right: 30px;
  }

}

@media only screen and (max-width: 600px) {
  .education {
    width:300px;
    margin-top:10px;
    margin-left: 2px;
    padding-right: 30px;
  }
}

.edu-head{
    text-align: center;
    margin-top: 20px;  
}

.educationinfo{
  display: flex;
  justify-content: center;
}



.education-header {
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  
}

.edu-para{
    font-size: 20px; 
    font-family: "Times New Roman", Times, serif;
}
