html {
    height: 100%;
  }
  
#page {
    display: flex;
    background-color:#094470;
    height:500px;
  }

  
  #content {
    width: 100%;
  
   
  }

nav li {
   /* padding-top:40px; */
   text-decoration: none;
    padding-left: 50px;
    /* color:white ; */
    
    }

  
 nav ul {
  display: flex;
  flex-direction: row ;
  flex-wrap:wrap;
  list-style-type: none;
  margin-left: 350px;
  /* color:white; */
 
 }
 
 i:hover {
  background-color: #83C0EE;
}
  #content{
     
      margin-top: 100px;
      text-align: center;

  }

  img{
      width:200px  !important;
      height:200px  !important;
      border-radius:50%  !important;
      border:5px solid white;
  }

  .maindiv{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;

   
  }

  .thirddiv{
    padding-left: 200px;
  }

  .skills{
    color:black;
    /* margin-left: 60px; */
    text-align: center;
    
  }
  
  h1,.para{
    color:white;

  }

 

  .skill{
    height: auto;
    width: 600px;
    border: 10px solid #094470;
    background-color: white;
    margin-left:350px;
    text-align: center;
    margin-top: 150px;
  }

  .icon-text{
    color:white;
    font-size: 20px;
    margin-left: 600px;
    margin-top: 50px;
  }

  .fab{
    height:20;
    width:30px;
    background: white;
   
  }

  .icons{
    display: flex;
    margin-left: 600px;
  }

  .home-para{
    padding-right: 200px;
    padding-bottom: 10px;
    padding-left: 200px;
    color:white;
    font-size: 20px; 
    font-family: "Times New Roman", Times, serif;
  }
  

   


