
.project-div {
  background: white !important;
  height: 500px;
  width: 315px;
  margin-top: 20px;
  margin-left: 80px;
}

.project-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.project-img {
  height: 200px !important;
  width: 305px !important;
  border-radius: 5% !important;
  
}

.project-decpt{
  margin-top: 20px;
  
}

.project-header{
  color:black;
}

.projt-heading{
  text-align: center;
  margin-top: 60px;
}

.project-title{
  text-align: center;
}

.paragraph{
  font-size: 18px; 
    font-family: "Times New Roman", Times, serif;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.project-button{
  
}

