body{
  background-color:black;
}

.App {
  /* text-align: center;   */
}

/* nav  {
  background:white !important;
  color: red;
} */


span{
  color:white;
}

.resume{
  color:white;
  margin-left: 45px;
  text-decoration :none;
}




 



