body{
  background-color:black;
}



span{
  color:white;
}

.resume{
  color:white;
  margin-left: 120px;
  text-decoration :none;
}

nav ul{
  display:flex;
  flex-direction: row;
  justify-content: start;
}

nav li{
  padding-left: 120px;
  position: relative;
}




 



