.App {
  text-align: center;
}


÷

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul
{
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
width: 10em;
}

li
{
background-position: 100% .4em;
padding-right: .6em;
margin: 1em 0;
}




